@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-primary bg-primary text-white leading-loose;
  }
}

@layer base {
  :root {
    --font-jetbrains: 'JetBrains Mono', monospace;
  }
  body {
    font-family: var(--font-jetbrains);
    font-weight: 400; /* Poids par défaut */
  }
  
  .font-light {
    font-weight: 300;
  }
  
  .font-bold {
    font-weight: 700;
  }
}